<form [formGroup]="formGroup">
  <div>
    <label for="name">Your name</label>
    <input id="name"
           name="name"
           type="text"
           placeholder="Your name"
           formControlName="name"
           [attr.aria-invalid]="isInvalid('name')">
    <small *ngIf="isTouched('name') && isInvalid('name')"> This field is required </small>
  </div>
  <div>
    <label for="email">Your email</label>
    <input id="email"
           name="email"
           type="email"
           placeholder="Your email"
           formControlName="email"
           [attr.aria-invalid]="isInvalid('email')">
    <small *ngIf="isTouched('email') && isInvalid('email')"> This field is required and valid email
    </small>
  </div>
  <div>
    <label for="message">Your message</label>
    <textarea id="message"
              name="message"
              placeholder="Your message"
              formControlName="message"
              [attr.aria-invalid]="isInvalid('message')"></textarea>
    <small *ngIf="isTouched('message') && isInvalid('message')"> This field has to be short </small>
  </div>
  <button (click)="onSendClick()"
          [disabled]="formGroup.invalid"> Send </button>
</form>
