<app-header></app-header>
<main>
  <article>
    <h3>We work with {{ agencies.length }} agencies</h3>
    <ul>
      <li *ngFor="let agency of agencies ">
        <span [ngClass]=" agency.status | lowercase ">{{ agency.name }} </span>
        <!-- <span *ngIf="agency.range==='Interplanetary'"> 🪐 </span>
        <span *ngIf="agency.range==='Orbital'"> 🌍 </span> -->
        <span *ngIf="agency.range==='Interplanetary' ; else orbitalIcon  "> 🪐 </span>
        <ng-template #orbitalIcon><span> 🌍 </span></ng-template>
      </li>
    </ul>
  </article>
  <article>
    <h3>Offering {{ getTripsCounter() }} trips</h3>
    <ul>
      <li *ngFor="let trip of trips ">
        <span [ngClass]="getClassForStatus(trip.status)"> {{ trip.destination }} </span>
        <span> 💸 {{ trip.flightPrice | currency }}</span>
        <span> ⤴️ {{ trip.startDate | date:'yyyy-MMM-dd' }}</span>
        <span> ⤵️ {{ trip.endDate | date:'yyyy-MMM-dd' }}</span>
        <span [ngClass]="getClassForPlaces(trip.places)"> 🧑🏼‍🚀 {{ trip.places }}</span>
        <ng-container *ngIf="trip.kind==='WithStay' then withStay; else tripOnly"></ng-container>
        <ng-template #withStay> 🧳 </ng-template>
        <ng-template #tripOnly> 🛰️ </ng-template>
      </li>
    </ul>
  </article>
  <button (click)="reload()"> ♻️ Reload </button>
  <aside *ngIf="isReloading"> Reloading... please wait. ⌛ </aside>
  <router-outlet></router-outlet>
</main>
<app-footer></app-footer>
